@model GetHairdresser.Client.Models.UserProfile

@{
    ViewBag.Title = "Register";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associate your @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.firstName, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.firstName, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.firstName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.lastName, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.lastName, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.lastName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.age, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.age, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.age)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.gender, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.gender, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.gender)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.location, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.location, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.location)
            </li>
        </ol>
        @Html.HiddenFor(m => m.UserFacebook)
        <input type="submit" value="Register" class="btn btn-primary register_btn"/>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
