@model GetHairdresser.Client.Models.UserProfile

@{
    ViewBag.Title = "Register";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associate your @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.UserName, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.SureName, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.SureName, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.SureName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.LastName, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.LastName, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.Age, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.Age, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.Age)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.Gender, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.Gender, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.Gender)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.Location, new {@class = "register_fields" })
                @Html.TextBoxFor(m => m.Location, new {style="width:200px" })
                @Html.ValidationMessageFor(m => m.Location)
            </li>
        </ol>
        @Html.HiddenFor(m => m.FacebookID)
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Register" class="btn btn-primary register_btn"/>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
