<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/boots")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        
        
    </head>
    <body>
        <header>
        <div class="content-wrapper">
            <div>
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <section id="logo_image">
                <p>@Html.ActionLink(" ", "Index", "Home")</p>
            </section>        
                @Html.Partial("_NavBarPartial")
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            @RenderSection("featured", required: false)
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Get haircut</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
               
                    $('#cssmenu').prepend('<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>');
            });
        </script>
    </body>
</html>
