@{
    GetHairdresser.Client.FormsAuth.AuthentificManager manager = new GetHairdresser.Client.FormsAuth.AuthentificManager();
    GetHairDresser.Common.User user;
}


@if (manager.IsAuthenticated) {
    <text>
        @{
            using (GetHairdresser.Client.UserService.UserServiceClient serviceUser = new GetHairdresser.Client.UserService.UserServiceClient())
            {

                user = serviceUser.GetUserData(new Guid(manager.AuthGuid));   

            }
        }
        Hello, @Html.ActionLink(@user.firstName.ToString() + " " + @user.lastName.ToString(),"Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })){
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Sign in with Facebook", "Login", "Account", routeValues: null, htmlAttributes: new {@class="btn btn-default" })</li>
    </ul>
}
